<section class="board_info">
	<h1>{{name}}</h1>
	<br/>
	<form class="content">
		{{#if info}}
			Ticket Count: {{ticketCount}} <br/>
			Creation Date:  {{input type="text" disabled=true value=creation_date}}  <br/>
			{{#if parent}}
				Parent: <button {{action "changeBoard" parent}}>{{parent.name}}</button> <br/>
			{{/if}}
			{{#if hasChildren}}
				Child Boards: 
				{{#each children}}
                                         <br />
					 <button {{action "changeBoard" this}}>{{this.name}}</button>
				{{/each}}
                                <br />
			{{/if}}
		{{/if}}
		Wip: {{input type="text" disabled=info value=wip}} <br/>
		{{#unless info}}
			Parent: <div class="styled_select">
				{{view Ember.Select 
                                    content=getBoards 
                                    optionValuePath="content.id" 
                                    optionLabelPath="content.name" 
                                    selectionBinding="parent"}}
			</div>
			<br/><br/>
			<button {{action "save" this}}> Save changes </button>
		<button {{action "cancel" this}}> Cancel </button>
		{{/unless}}
	</form>
</section>