<div class="user-profile">
	<button {{action "edit"}}>Edit</button>
	<p class="user-attributes"><strong>Groupname:</strong> {{name}}</p>
	<p class="user-attributes"><strong>Password:</strong> {{password}}</p>
	<p class="user-attributes"><strong>Created:</strong> {{creationDate}}</p>
</div>
{{outlet}}