<aside class="boards_list">
	<article class="boards_list_item">
		Board Count: {{boardCount}}
		{{view App.IconButtonView button=true type='plus' action='createBoard' title='New Board'}}
		<br/>
		Ticket Count: {{ticketCount}}
	</article>
	{{#each}}
		{{#if creation_date}}
			<article class="boards_list_item">
				<h3 class="inline_block">{{name}}</h3><br/>
				{{board-menu management=true board=this showBoard='showBoard' deleteBoard='deleteBoard'}}
			</article>
		{{/if}}
	{{/each}}
</aside>
<section class="management_content">
	{{outlet content}}
</section>