<div class="container">
    <form class="form-signin" {{action "submit" on="submit"}}>
        <h2 class="board-heading">Sign In</h2>
        <p>email: {{user.email}}</p>
        {{view App.EmailInputView value=user.email placeholder="Email"}}
		<p>password: {{user.password}}</p>
        {{input value=user.password class="board-input-field" type="password" placeholder="Password"}}
        {{#link-to '' id="signup"}}Sign Up{{/link-to}}
        <button id="signin" class="board-button" type="submit">sign in</button>
    </form>
</div>