{{#if edit}}

	<div class="ticket_title">
		Title: {{#input type="text" value=ticket.title}}{{/input}}
	</div>
	<div class="ticket_content">
		{{#textarea value=ticket.content}}{{/textarea}}
	</div>

{{else}}
{{#if create}}
		<div class="ticket_title">
			Title: {{#input type="text" value=ticket.title}}{{/input}}
		</div>
		<div class="ticket_content">
			{{#textarea value=ticket.content}}{{/textarea}}
		</div>
{{view App.IconButtonView type='ok'}}
{{else}}


{{#if basic}}

		<nav class="ticket_menu">
			{{#if displayPrevious}}
				{{view App.IconButtonView type='chevron-left' title='Previous Column' action='toPreviousColumn'}}
			{{/if}}
			{{#if basic}}
				{{view App.IconButtonView type='info-sign' title='Show Details' action='showDetails'}}
			{{/if}}

			{{view App.IconButtonView type='pencil' title='Edit' action='showEdit'}}

			{{#unless fromCurrentBoard}}
				{{view App.IconButtonView type='th' title=parentName action='showParentBoard'}}
			{{/unless}}

			{{#if displayNext}}
				{{view App.IconButtonView class='float_right' type='chevron-right' title='Next Column' action='toNextColumn'}}
			{{/if}}

			{{view App.IconButtonView class='float_right' type='remove' title='Delete' action='showDelete'}}
		</nav>

		<div class="ticket_title">
			<h3>{{ticket.title}}</h3>
		</div>

{{else}}
		<div class="ticket_content">
			{{ticket.content}}
		</div>

{{/if}}
{{/if}}
{{/if}}