{{#with ticket}}
<div {{bind-attr class=":ticket isDone:done isImportant:important"}}>
	<h3 class="ticket_title">{{title}}</h3>
	<span class="ticket_details">
		Creater: Wilson <br>
		Assignee: Momme <br>
		{{#if last_modify_date}}
			Last Modify Date: {{dateFormat last_modify_date}}
		{{else}}
			Creation Date: {{dateFormat creation_date}}
		{{/if}}
	</span>
</div>
{{/with}}