<nav class="main_menu">
	{{#link-to "user" id="profile_button" class="menu_item"}} Profile {{/link-to}}
	<!--!{{!#!link-to "groups" id="group_button" class="menu_item"}} Groupmanagement {{/link-to}}-->
	<a id="board_button" class="menu_item" href="">Board Management</a>
	<button id="logout_button" class="menu_item" {{action "logout"}}> Logout </button>
</nav>
<header class="main_head">
	<h1 class="board_heading">{{name}}</h1>
</header>
<section class="main_content">
	{{#with this as self}}
				{{board-menu createTicket='showCreateTicket'}}
				<table class="main_table">
					<thead class="main_table_head">
						<tr>
							<th>
								Todo
							</th>
							<th>
								Doing
							</th>
							<th>
								Done
							</th>
						</tr>
					</thead>
					<tbody class="main_table_body">
						<tr>
							<td>
								<div class="ticket_wrapper">
										{{#each getTodo}}
											{{ticket-comp ticket=this currentBoardID=self.id createAction='createTicket' editAction='updateTicket' deleteAction='deleteTicket'}}
										{{/each}}
								</div>
							</td>
							<td>
								<div class="ticket_wrapper">
										{{#each getDoing}}
											{{ticket-comp ticket=this currentBoardID=self.id createAction='createTicket' editAction='updateTicket' deleteAction='deleteTicket'}}
										{{/each}}
								</div>
							</td>
							<td>
								<div class="ticket_wrapper">
										{{#each getDone}}
											{{ticket-comp ticket=this currentBoardID=self.id createAction='createTicket' editAction='updateTicket' deleteAction='deleteTicket'}}
										{{/each}}
								</div>
							</td>
						</tr>
					</tbody>
				</table>
	{{/with}}
</section>