<div class="login form_center">
	<form {{action "login" on="submit"}}>
	<h2 class="title">Login</h2>
	{{#if saveError}}
            <span class="message error">
                {{view App.IconButtonView type='remove'}}
                <span>Please check your input again.</span>
            </span>
	{{/if}}
	<div>
		<label>Email</label>
		{{view App.ValidationTextField viewName="email" valueBinding="email" placeholder="E-Mail" tabindex=1}}
		{{#if emailError}}
                <span class="message error">
                    {{view App.IconButtonView type='remove'}}
                    <span>Please fill in.</span>
                </span>
		{{else}}
		{{#if invalidEmailError}}
					    <span class="message error">
                            {{view App.IconButtonView type='remove'}}
                            <span>Invalid E-Mailaddress.</span>
                        </span>
		{{/if}}
		{{/if}}
	</div>
	<div>
		<label>Password</label>
		{{view App.ValidationTextField viewName="password" valueBinding="password" placeholder="******" type="password" tabindex=2}}
		{{#if passwordError}}
				<span class="message error">
					{{view App.IconButtonView type='remove'}}
					<span>Please fill in.</span>
			    </span>
		{{/if}}
	</div>
	<div class="actions">
		<button class="btn-canban" type="submit" tabindex=3>Sign In</button>
		{{#link-to "registration" class="btn-canban" role="button" tabindex=4}} Registration {{/link-to}}
	</div>
	</form>
</div>