<div class="form">
	<form class="login_form" {{action "login" on="submit"}}>
		<h2>Login</h2>
        {{#if saveError}}
            {{view App.IconButtonView type='remove' class="error_button"}}
			<span class="error_message">Please check your input again.</span>
        {{/if}}
		<div>
			<label>Email</label>
			{{view App.ValidationTextField viewName="email" valueBinding="email" placeholder="E-Mail"}}
			<span>
				{{#if emailError}}
					{{view App.IconButtonView type='remove' class="error_button"}}
					<span class="error_message">Please fill in.</span>
				{{else}}
					{{#if invalidEmailError}}
						{{view App.IconButtonView type='remove' class="error_button"}}
						<span class="error_message">Invalid E-Mailaddress.</span>
					{{/if}}
				{{/if}}
			</span>
		</div>
		<div>
			<label>Password</label>
			{{view App.ValidationTextField viewName="password" valueBinding="password" placeholder="******" type="password"}}
			<span>
				{{#if passwordError}}
					{{view App.IconButtonView type='remove' class="error_button"}}
					<span class="error_message">Please fill in.</span>
				{{/if}}
			</span>
		</div>
        <div class="actions">
            <button id="login_button" class="btn btn-canban" type="submit">Sign In</button>
            {{#link-to "registration" class="btn btn-canban" role="button"}} Registration {{/link-to}}
        </div>
	</form>
</div>