<div class="profile">
	<div>
		<form>
			<button {{action "cancel"}}> Back to Board </button>
			<button {{action "delete"}}>Delete</button>

			<div>
				<label>Firstname</label>
				{{view App.ValidationTextField viewName="firstname" valueBinding="firstname"}}
				<span>
					{{#if firstnameError}}
						{{view App.IconButtonView type='remove'}}
						<span class="error_message">Please fill in.</span>
					{{/if}}
				</span>
			</div>

			<div>
				<label>Lastname</label>
				{{view App.ValidationTextField viewName="lastname" valueBinding="lastname"}}
				<span>
					{{#if lastnameError}}
						{{view App.IconButtonView type='remove'}}
						<span class="error_message">Please fill in.</span>
					{{/if}}
				</span>
			</div>

			<div>
				<label>Email</label>
				{{view App.ValidationTextField disabled="disabled" viewName="email" valueBinding="email"}}
			</div>

			<div>
				<label>Password</label>
				{{view App.ValidationTextField type="password" viewName="password" valueBinding="pwPlaceholder"}}
				<span>
					{{#if passwordError}}
						{{view App.IconButtonView type='remove'}}
						<span class="error_message">Please fill in.</span>
					{{/if}}
				</span>
			</div>

			<div>
				<label>Password Confirmation</label>
				{{view App.ValidationTextField type="password" viewName="passwordConfirmation" valueBinding="passwordConfirmation"}}
				<span>
					{{#if passwordConfirmationError}}
						{{view App.IconButtonView type='remove'}}
						<span class="error_message">Please confirm your password.</span>
					{{else}}
						{{#if passwordConfirmationCompareError}}
							{{view App.IconButtonView type='remove'}}
							<span class="error_message">Passwords don't match.</span>
						{{/if}}
					{{/if}}
				</span>
			</div>

		<button {{action "save"}}> Save changes </button>
			{{#if saveError}}
				{{view App.IconButtonView type='remove'}}
				<span class="error_message">Please check your input again.</span>
			{{/if}}
		<button {{action "cancel"}}> Cancel </button>
		</form>
	</div>
</div>