<div class="profile">
	<button {{action "cancel"}}> Back to Board </button>
	<button {{action "delete"}}>Delete</button>

	<div>
		<label>Firstname</label>
		{{input value=firstName}}

		<label>Lastname</label>
		{{input value=lastName}}

		<label>Username</label>
		{{input value=userName}}

		<label>Email</label>
		{{input value=email}}

		<label>Password</label>
		{{input type="password" value=password}}

		{{#if confirmationFailed}}
		<div class="error">
			Please check that your passwords match and try again.
		</div>
		{{/if}}
		<label>Password Confirmation</label>
		{{input type="password" value=passwordConfirmation}}

		<button {{action "save"}}> Save changes </button>
		<button {{action "cancel"}}> Cancel </button>
	</div>

</div>